[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
ddi = {editable = true,git = "https://github.com/ddionrails/ddi.py.git",ref = "master"}
goodtables = "*"

[requires]
python_version = "3.6"
