[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
paneldata_pipeline = {git = "git+https://github.com/ddionrails/paneldata_pipeline", ref="master"}
ddionrails_datapackage = {git = "git+https://github.com/paneldata/data-specification", ref="master"}
goodtables = "*"

[pipenv]
allow_prereleases = true
