name: Check-Relations

on:
  push:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install
        run: |
          sudo apt install python3.9
          python3.9 -m pip install setuptools
          python3.9 -m pip install git+https://github.com/ddionrails/paneldata_pipeline@master#egg=paneldata_pipeline
      - name: Test Relations
        run: |
          python3.9 -m paneldata_pipeline.check_relations -i ddionrails/ -r ddionrails/relations.json
